block content
  .container
    .starter-template
      h1 Li Ching Chang
      p.lead
        | A Software Engineer From Taiwan.
        br
        | Familiar with Web and iOS App Develop.

      //img.img-thumbnail(ng-src = "/home/images/IMG_1474.JPG")
      img.img-circle.img-thumbnail(ng-src = "/home/images/IMG_1474.JPG")
