block content
nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        //
          /.nav-collapse 
    .container
      .starter-template
        h1 Bootstrap starter template
        p.lead
          | Use this document as a way to quickly start any new project.
          br
          | All you get is this text and a mostly barebones HTML document.
    ///.container 
    //Bootstrap core JavaScript
          ================================================== 
    //Placed at the end of the document so the pages load faster 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    //IE10 viewport hack for Surface/desktop Windows 8 bug 
    script(src='bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js')

