doctype html
html(ng-app = "myApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='bower_components/bootstrap/favicon.ico')
    title= title
    //Bootstrap core CSS 
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    //Custom styles for this template 
    link(href='carousel.css', rel='stylesheet')

    script(src = "bower_components/angular/angular.js")
    script(src = "bower_components/angular-route/angular-route.js")
    script(src = "app.js")
    script(src = "home/home.js")
  //NAVBAR================================================== 
  body
    block content
 